html, body, .center {
    height: 100%;
    width: 100%;
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
    background: url('./stone-art.jpg');
}

.semi-tran {
    border: 10px solid rgba(0, 0, 0, .5);
    background: white;            /*order 1*/
    background-clip: padding-box; /*order 2   comments this line to see the diff*/

    max-width: 20em;
    padding: 2em;
    margin: 2em auto 0;
    font: 100%/1.5 sans-serif;
}