html, body, .BQ {
    height: 100%;
    width: 100%;
    display: flex;
}

body, .BQ::before {
    background: url('tiger.jpg') 0 / cover fixed;
}

.BQ {
    position: relative;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1em;
    max-width: 33em;
    max-height: 15em;
    font: 150%/1.6 serif;
    border-radius: 10px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, .2);
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.6);
}

.BQ::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    -webkit-filter: blur(10px);
    z-index: -1;
    margin: -40px;
}
