html, body, .center {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.ellipse {
    text-align: center;
    padding: 2em;
    margin: 2em;
    background: #088;
    color: #FFF;
}

.one {
    border-radius: 20px / 15px;
}

.two {
    border-radius: 50%;
}

.three {
    border-radius: 50% / 100% 100% 0 0;
}

.four {
    border-radius: 100% 0 0 100% / 50%;
}

.five {
    border-radius: 50% 0 0 0 / 50%;
}