html, body, .center{
    height: 98%;
    width: 98%;
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.buttonone, .buttontwo, .buttonthree, .buttonfour {
    font: 30px/1.2 serif;
    padding: 1em;
    margin: 1em;
    color: #FFF;
}

.buttonone {
    background: #088;
    transform: skewX(-45deg);
}

.buttonone > div {
    transform: skewX(45deg);
}

.buttontwo {
    position: relative;
}

.buttontwo::before {
    background: #808;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: "";
    z-index: -1;
    transform: skewX(45deg);
}

.buttonthree {
    padding-right: 1.5em;
    background: #080;
    background:
        linear-gradient(-135deg, transparent 35px, #880 0) top right,
        linear-gradient(-45deg, transparent 35px, #880 0) bottom right;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.buttonfour {
    position: relative;
}

.buttonfour::before {
    background: #8FF;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: "";
    z-index: -1;
    transform: perspective(.5em) rotateX(5deg) scaleY(2.2);
    transform-origin: bottom;
}